<table class="table table-bordered table-hover table-striped" id="example">
    <thead>
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Очки</th>
    <tbody>
    <% for (let member of members) { %>
        <tr>
            <td><%= member.id %></td>
            <td><%= member.name %></td>
            <td><%= member.points %></td>
        </tr>
    <% } %>
    </tbody>
</table>